<%- include("partials/header.ejs") %>

<div id="fireDiv">
    <div id="introTextBox">
        <h2><span><b>Fire</b></span></h2>
        <h5>Up your skills</h5>
        <h5>Do you know your Game of Thrones characters?</h5>
        <h5>Click on the 'generate' button to generate a character in the box below./h5>
    </br>
        <!-- 'Generate' button embedded in a form. -->
        <form action="/" method="POST">
            <button class="charButton" type="submit">Generate</button>
        </form>
    </div>
</div>

<div id="characterDiv">
<div id="characterScreen">
    <!-- placeholder text here for before character is generated, and then box populated when the character is generated. -->
    <% if (!characterData || !characterData.name) { %>
     <h2><span><b>Character not yet generated</b></span></h2> 
     <% } else { %>
        <p class="characterInfo"><h6><span><b>Name:</b></span> <%= characterData.name %></h6></p>
        <p class="characterInfo"><h6><span><b>Gender:</b></span> <%= characterData.gender %></h6></p>
        <p class="characterInfo"><h6><span><b>Born:</b></span> <%= characterData.DOB %></h6></p>
        <p class="characterInfo"><h6><span><b>Died:</b></span> <%= characterData.died %></h6></p>
        <p class="characterInfo"><h6><span><b>Aliases:</b></span> <%= characterData.nicknames.join(", ") %></h6></p>
        <% if (locals.userFact) { %>
            <p class="characterInfo"><h6><span><b>User's Fact:</b></span>
            <%= userFact %></h6></p>
        <% } %>
        <% } %> 
</div>
</div>

<div id="iceDiv">
    <!-- Going to put my ice picture in here and my user comment form, and the section to show the user's comment on the screen, below it-->
<div id="userInputScreen">
    <h2><span><b>Unfreeze</b></span></h2>
        <h5>Your brain</h5>
        <h5>Do you know anything about this character?</h5>
        <h6>Add a fact in the box below.</h6>
        <h6>Click 'submit' and your fact will appear in the character box above.</h6>
</br>
    <div id="userFact">
        <form action="/submit" method="POST">
            <h4><span><b><label for="fact">Fact:</label></b></span></h4>
            <input type="text" id="fact" name="fact" required>

            <!-- Hidden inputs to preserve character info -->
  <% if (characterData) { %>
    <input type="hidden" name="name" value="<%= characterData.name %>">
    <input type="hidden" name="gender" value="<%= characterData.gender %>">
    <input type="hidden" name="DOB" value="<%= characterData.DOB %>">
    <input type="hidden" name="died" value="<%= characterData.died %>">
    <input type="hidden" name="nicknames" value="<%= characterData.nicknames.join(",") %>">
  <% } %>

        </br>
        </br>
            <button class="charButton" type="submit">Submit</button>
        </form>
    </div>
</div>
</div>

<%- include("partials/footer.ejs") %>